body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #fff;
    margin: 0;
    padding: 0;
}

nav {
    background: #1e293b;
    padding: 15px;
    display: flex;
    gap: 20px;
}

nav a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

nav span {
    margin-left: auto;
    color: #facc15;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

form {
    width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}